---
layout: default
title: Home
---

<div class="entry-body">
    <div class="container">
      <section id="description" class="margin-l">
         <p>ibericode is the umbrella company for projects undertaken by <a href="https://dannyvankooten.com/">Danny van Kooten</a> and friends.</p>
        <p>We started in 2010 and have been working on WordPress plugins and other open-source projects ever since.</p>
        <p>Our WordPress plugins have been downloaded well over 20 million times and are in active use on more than 2 million websites.</p>
        <p>Most likely, you have come across some of our software already while browsing the web.</p>
      </section>

      <section id="products" class="products margin-m">
          <div>
            <h4><a href="https://www.mc4wp.com/">MC4WP: Mailchimp for WordPress</a></h4>
            <p>A plugin that allows you to add various sign-up methods for Mailchimp to your WordPress site.</p>
            <a href="https://wordpress.org/plugins/mailchimp-for-wp/">{% include icon-wordpress.html %}</a>
            <a href="https://github.com/ibericode/mailchimp-for-wordpress/">{% include icon-github.html %}</a>
          </div>

          <div>
            <h4><a href="https://www.kokoanalytics.com">Koko Analytics</a></h4>
            <p>A privacy-friendly analytics plugin for WordPress that does not use any external services.</p>
            <a href="https://wordpress.org/plugins/koko-analytics/">{% include icon-wordpress.html %}</a>
            <a href="https://github.com/ibericode/koko-analytics/">{% include icon-github.html %}</a>
          </div>

          <div>
            <h4><a href="https://boxzillaplugin.com/">Boxzilla</a></h4>
            <p>A WordPress plugin to show pop-up or slide-in boxes.</p>
            <a href="https://wordpress.org/plugins/boxzilla/">{% include icon-wordpress.html %}</a>
            <a href="https://github.com/ibericode/boxzilla-wp/">{% include icon-github.html %}</a>
          </div>

          <div>
            <h4><a href="https://www.htmlforms.io">HTML Forms</a></h4>
            <p>A WordPress plugin to build multi-purpose forms.</p>
            <a href="https://wordpress.org/plugins/html-forms/">{% include icon-wordpress.html %}</a>
            <a href="https://github.com/ibericode/html-forms/">{% include icon-github.html %}</a>
          </div>
      </section>
    </div>

    <div class="one-percent-for-the-planet jumbotron">
        <h3>We're proud members of</h3>
        <img src="{{ '/assets/img/onepercentfortheplanet-logo-white.png' | prepend: site.url }}" alt="1% for the Planet" height="100" />
        <p>1% of our total annual revenue goes towards environmental projects. <a href="https://www.mc4wp.com/one-percent-for-the-planet/">Learn more.</a></p>
    </div>

    <div class="container">
      <section id="team" class="team margin-l">
        <h2>Who we are</h2>
        <p>We are a small, international and distributed team that has been working together for years, each day striving to make the web a better and happier place.</p>

        <div class="team-members margin-m">
          <div class="">
            <div class="text">
                <h4><a href="https://dannyvankooten.com/">Danny van Kooten</a></h4>
              <div class="job">Founder &amp; Developer</div>
              <div>Danny wandered warmer parths the earth for a few years, but is now living in his place of birth in The Netherlands again. He spends his days improving our various plugins.</div>
           </div>
           <div class="img">
              <img src="{{site.url}}/media/danny.jpeg" alt="Danny  van Kooten" width="150" height="150" />
            </div>
          </div>

          <div class="">
            <div class="text">
              <h4><a href="https://harishchouhan.com/">Harish Chouhan</a></h4>
              <div class="job">Support Engineer</div>
              <div>Harish is from India, but currently living in Vietnam. He joined the team in 2014 and has been delivering quick answers to questions from our users ever since.</div>
            </div>
            <div class="img"><img src="{{site.url}}/media/harish.jpeg" alt="Harish Chouhan" width="150" height="150" /></div>
          </div>

          <div class="">
              <div class="text">
                <h4><a href="http://lapz.org/">Arne Lap</a></h4>
                <div class="job">Support Engineer</div>
                <div>Arne is from The Netherlands, but currently living in Thailand. As of 2017 he has been working alongside Harish and is responsible for our users' happiness.</div>
              </div>
              <div class="img"><img src="{{site.url}}/media/arne.jpg" alt="Arne Lap" width="150" height="150" /></div>
          </div>

        </div>
      </section>

      <section id="business-info" class="margin-l">
        <h2>Contact information</h2>
        <p>Our contact information or physical address is as follows.</p>
        <address style="font-style: normal;">
          <strong>ibericode BV</strong><br />
          Oosthavendijk 9<br />
          4475AA Wilhelminadorp<br />
          The Netherlands<br /><br />
          Chamber of Commerce: 65413741<br />
          VAT Number: NL856102337B01<br />
        </address>
      </section>
    </div>



  <section id="social-media" class="container">
    <h2>Follow us</h2>
    <p>We're not on social media (anymore), but you can follow our work on <a href="https://github.com/ibericode" rel="external nofollow">GitHub</a>.</p>
  </section>
</div>

