<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{site.url}}/assets/css/main.css?v=1">
	<link rel="icon" href="{{site.url}}/assets/img/favicon.ico" type="image/x-icon">
	</head>
<body class="{% if page.url == "/" %}home{% endif %}" itemscope="itemscope" itemtype="https://schema.org/WebPage">
<div class="container">
	<header class="header" role="banner" itemscope="itemscope" itemtype="https://schema.org/Organization">
		<h1 class="site-title" itemprop="name">
			<a href="{{site.url}}" itemprop="url">ibericode</a>
			<meta itemprop="logo" content="{{site.url}}/assets/img/logo.png">

			{% if page.url == "/" %}
			<div id="logo-video-player-wrap">
				<div id="logo-video-player-cell">
					<div id="logo-video-player-mount"></div>
				</div>
			</div>
			{% endif %}
		</h1>
	</header>

	<div role="main">
		{{ content }}
	</div>

	<footer class="footer" role="contentinfo">
		<p>
			&copy; 2010 - {{ site.time | date: '%Y' }} &mdash; <a href="{{site.url}}/">ibericode</a> &mdash; <a href="{{site.url}}/privacy-policy/">privacy policy</a>
			<span class="pull-right footer--social">
				<a href="https://github.com/ibericode" class="icon" title="ibericode on GitHub">{% include icon-github.html %}</a>
				<a href="https://profiles.wordpress.org/ibericode/" class="icon" title="ibericode on WordPress">{% include icon-wordpress.html %}</a>
			</span>
		</p>
	</footer>
</div>
</body>
</html>