---
layout: default
---

<article itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
  <header class="entry-header">
  	<h1 class="entry-title" itemprop="headline">{{ page.title }}</h1>
  	<p class="entry-meta">
  		<time class="entry-time" itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>
  		{% if page.author_name %}<span class="entry-author" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">by <span class="entry-author-name" itemprop="name">{{ page.author_name }}</span>.</span>{% endif %}
  	</p>
  </header>

  <div class="entry-body" itemprop="articleBody">
  	 {{ content }}
  	<br style="clear: both;" />
  </div>
</article>
